@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Pre-Crime"]</h2>
<h3>@ViewData["Sistema online de cadastro de crimes"]</h3>

<p>Agora você pode cadastrar sua ocorrência de forma fácil e rápida.</p>
